{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}


<div class="wrapper" id="wrapper">
    <article class="">
        <div id="vsam">
            <img src="{{ asset('/images/vsam.svg') }}" alt="Logo VSAM">
        </div>
        <div id="closed">
            <img src="{{ asset('/images/fermeture.svg') }}" alt="}">
        </div>
        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ 'src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
        </ul>
    </article>
    <article>
        <h2>
            Pourquoi VSAM ?
        </h2>
        <span>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero unde itaque recusandae obcaecati sit fugit
            a aliquid perferendis natus animi in, aperiam ipsam, deleniti accusamus ab sed magni consectetur quia vero
            doloribus voluptatibus? Voluptatibus cupiditate consequatur deserunt ipsam dignissimos excepturi velit?
            Delectus possimus ea iure aut iste ipsum modi numquam, ab exercitationem necessitatibus nulla mollitia
            doloribus natus corrupti saepe laboriosam. Placeat sint rem quaerat voluptatibus amet sequi aperiam nostrum
            nobis voluptatum hic fugiat temporibus doloribus culpa debitis porro aliquam officiis dolores, dolorem eos
            consectetur accusamus! Tempora, facilis tenetur? Unde, natus similique. Voluptate dolorem ab quaerat
            tenetur provident, nihil corporis veniam, culpa minima tempore perferendis eveniet vero ipsam earum
            laboriosam ullam omnis tempora libero fugiat, ducimus facilis quidem odit. Doloremque consequatur laborum
            magni dolor. Adipisci fugiat, doloribus ab beatae dolor et quia illo. Sed quia sequi officia, eveniet
            facilis velit! Quod rerum quia rem quos esse fugit, aliquid voluptates, quibusdam dolorem beatae odio
            consequuntur pariatur eius ut voluptatibus a officiis ea error voluptate porro. Et repellat inventore in.
            Ullam rerum asperiores assumenda inventore. Odio eveniet tempora magni, suscipit nulla, tenetur possimus
            labore ratione deleniti expedita nisi vitae, facere dignissimos non ipsum nostrum ex est dolores obcaecati
            voluptates assumenda. Possimus natus pariatur ducimus laboriosam quam expedita tempora nostrum fugit, ea
            doloribus qui similique id, eius facilis hic ipsam dolores delectus at molestias voluptatem incidunt! Nobis
            vitae ullam sapiente nulla, praesentium voluptate similique soluta possimus nihil fugiat? Eum nulla,
            molestias corporis mollitia officia nobis, veniam iure quo quam eveniet laudantium minima. Adipisci fuga
            doloremque assumenda iste veritatis itaque ex corporis rem, quaerat architecto doloribus maxime repellendus
            libero hic, nobis nisi recusandae error obcaecati sed blanditiis exercitationem quam ad perspiciatis
            laborum? Dolorem est, pariatur eaque rerum, ad, beatae labore facilis tempore veritatis laborum quia
            dolorum totam optio ipsa aliquam fuga iure dolor voluptas ratione quis! Explicabo rerum praesentium, illum
            nulla doloremque doloribus est natus eaque hic beatae impedit alias fugit harum soluta quis voluptas.
            Accusantium numquam, quia quidem, molestias esse officia debitis amet ratione autem laboriosam adipisci. At
            enim, aut optio consequuntur commodi delectus adipisci quis ad beatae eos aliquid cupiditate, inventore,
            nisi quam facere perspiciatis voluptate necessitatibus esse aliquam ex nulla placeat? Esse praesentium
            expedita possimus pariatur atque cupiditate placeat dolores voluptatum, aperiam, consectetur non vel quod
            ad sunt ab accusamus mollitia deserunt hic velit. Iure minus facilis quae impedit quisquam ipsa vero aut?
            Impedit iste adipisci sunt laudantium dolore, maiores exercitationem aliquam nostrum ullam error
            accusantium iure quae ipsum itaque corporis necessitatibus vitae dolores omnis iusto obcaecati consectetur
            hic ad aspernatur facere. Velit voluptate doloribus perferendis aliquam excepturi quidem voluptatem vero
            ad. Ad nostrum perferendis magnam provident nisi id exercitationem deserunt tempore reprehenderit voluptas
            magni ex beatae commodi, autem quia error, consectetur, labore voluptates et? Ex ratione, debitis soluta,
            amet ducimus odio iusto aut, accusamus consectetur laborum in! Veniam, temporibus laboriosam? Vel dolorem
            dignissimos sunt numquam qui corrupti accusamus, fugit, temporibus ut praesentium nostrum? Error
            dignissimos veritatis consectetur atque, eius deserunt similique temporibus ut illum ex quae architecto,
            possimus necessitatibus at? Cumque!
        </span>
        <div class="div2 fl">
            <img src="{{ asset('/images/loutre.png') }}" alt="loutre">
        </div>
    </article>
    <div>
        <p>
            <div class="flaot">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/HO2SLJQShJ8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <h2>
                qui es tu ?
            </h2>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis maxime culpa temporibus blanditiis
            id debitis suscipit explicabo illo dolor! Eaque, dolorum? Dolorem nesciunt ipsa ducimus blanditiis odit
            iusto maiores aliquid veniam eveniet quam ipsam, commodi consequatur neque atque corrupti laborum sed
            expedita error ratione dolore. A, repudiandae doloribus explicabo architecto veritatis, eaque culpa
            sapiente reiciendis, voluptas officia quisquam? Assumenda doloremque delectus voluptatem sed voluptate iure
            eum maxime veniam cum ut. Natus blanditiis ad aliquam molestiae neque sapiente, voluptas illum et expedita
            totam nulla alias facilis officiis unde. Consectetur sapiente ea praesentium expedita magnam recusandae
            aliquam delectus fugiat eveniet voluptatum sequi nam quis officia, impedit, quae, temporibus ipsum et at ad
            enim. Sapiente tempore unde, modi vitae nobis ut aperiam, error quisquam deserunt magni, iure similique
            repellendus consequatur exercitationem mollitia quod maiores? Vel, a perferendis placeat necessitatibus hic
            aliquid amet, minus itaque pariatur sit dolorem voluptatibus nesciunt, ex sed illo eos.
        </p>
    </div>
    <article>
        <h2>
            Ok...
        </h2>
        <h3>mais tu as fait quoi ?</h3>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum doloremque obcaecati asperiores corrupti
            sunt officia optio, nulla exercitationem dolore possimus iste deleniti adipisci reiciendis ducimus nobis
            aut eaque recusandae sequi! Alias eius distinctio nobis quo vitae dolorem facilis tenetur omnis voluptas
            magnam, tempora corrupti! Distinctio a amet officiis sit quidem consequatur ea libero veniam
            exercitationem, tempore sunt nostrum. Sint necessitatibus, maxime sed nihil aspernatur facere, culpa
            molestiae officiis labore cum repellendus doloribus facilis id, nobis quo enim doloremque! Consequuntur
            aperiam repellendus minus numquam perspiciatis delectus laboriosam ut ad, obcaecati sed at tempore! Sint
            optio laudantium laborum quia alias repellat commodi eum eveniet voluptates quaerat id laboriosam suscipit
            tenetur, doloremque asperiores, odit itaque consequatur temporibus nihil explicabo tempore quae? Voluptatum
            inventore quis incidunt, a sit quibusdam sed similique repudiandae voluptatibus sapiente distinctio natus
            recusandae quia aperiam provident dolorum dignissimos nemo veritatis reprehenderit sunt quidem numquam
            saepe iure tempore! Nostrum, totam recusandae assumenda fugit minus, tenetur debitis ea ratione iusto culpa
            commodi? Est quo neque esse reiciendis, earum sed a quos alias? Dicta error illo et eaque? Obcaecati
            facere, ipsum accusamus atque assumenda, animi tenetur velit numquam quidem nisi a impedit laboriosam
            incidunt praesentium iusto non deserunt quia similique! Repellat autem debitis expedita minus qui incidunt
            minima dicta nisi! Dolore possimus consectetur quaerat! Inventore vitae et saepe voluptatibus magni ex,
            quod iste reprehenderit qui cum modi! Obcaecati maxime illum suscipit ut, totam soluta neque fugit eos
            debitis magni enim dolore natus ea dolorum consequatur nemo sint quaerat harum! Voluptatem expedita iusto
            ad quidem facere nobis at officiis aliquid, vitae animi error? Nihil tenetur, sequi quidem dolores
            voluptate, repudiandae aperiam qui exercitationem deserunt repellendus repellat consectetur, architecto
            autem corporis beatae doloribus maiores nulla voluptatibus accusamus ad dignissimos consequuntur ratione?
            Natus quo sint, ducimus maxime qui, dolore quaerat odit omnis cum, rerum vero animi. Reiciendis amet
            cupiditate voluptatibus a obcaecati odit cumque eum aperiam! Praesentium nisi minima atque libero, ea est
            culpa facilis cum voluptatibus, ipsa optio? Saepe, amet.
        </p>
    </article class="wrapper_div">
    <article>
        <h2>
            Pourquoi travailler avec toi ?
        </h2>
        <p>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quis eos, perferendis corporis dicta
                quae. Harum perferendis optio pariatur facere quia iure magnam temporibus reiciendis delectus, voluptas
                natus ea, nobis labore excepturi, at eius! Ipsum nesciunt, consectetur asperiores voluptates impedit
                voluptate ut doloribus eaque ipsam excepturi vel vero. Quae dolorem tempore perferendis aperiam
                recusandae earum nisi similique odit? Molestiae, iure recusandae vel dolores harum ipsa quas aliquid
                laborum consequatur minus, distinctio iste maxime facilis modi nam numquam dolorum quia a perferendis
                sapiente voluptatibus alias nisi eos enim? Recusandae ut molestias accusamus? Molestias assumenda
                inventore officia? Fugit neque molestiae voluptatum quas esse vel. Asperiores tenetur soluta veritatis.
                Sit, voluptatem! Ducimus quaerat similique neque consectetur maxime ab pariatur officia, sed corrupti
                magni totam perferendis nobis ad soluta, ipsam ipsa fugit explicabo inventore rerum aut praesentium
                quos, nisi id? Quisquam cupiditate commodi voluptates, natus in, consequuntur saepe, corrupti ipsa
                deleniti eius neque sequi expedita? Labore atque voluptatum quo ab fugit culpa hic quos nesciunt
                doloribus dolores necessitatibus libero expedita eos porro laborum minima aperiam odio itaque cumque
                reiciendis rerum totam, quia harum eveniet! Velit quas nihil vero illum nostrum quaerat, tempore
                repudiandae alias recusandae blanditiis laborum rem atque. Numquam, vero vitae totam atque sint magni
                dicta eius veritatis sed quam deserunt odit repudiandae et voluptate iste quod unde vel omnis
                consequuntur deleniti fuga blanditiis facere enim! Et debitis laboriosam quibusdam, sed praesentium
                facilis voluptas corrupti omnis quas minima nam tempore iusto corporis est eius dolores consectetur in
                eum quis vero! Expedita assumenda minima placeat, reiciendis qui quas tempore repellat illo. Molestiae
                eligendi, dicta odit maxime quasi minima architecto voluptas, tenetur delectus corporis voluptate
                temporibus quod molestias a sunt magni. Expedita, velit non. Porro ut quaerat tempore quibusdam rerum
                incidunt dicta minus veritatis unde eius necessitatibus aliquid nostrum delectus ipsam, quos adipisci
                accusamus repellat. Earum nesciunt, ducimus culpa enim ab tenetur quod natus molestias reiciendis quos
                deserunt ullam odit cum exercitationem deleniti quas, alias ad facere. Obcaecati quas commodi odio
                doloremque ex pariatur, unde optio debitis inventore provident voluptatibus eaque nihil facere
                temporibus! Laborum ratione sed, nam, voluptates voluptatem dignissimos eaque assumenda enim delectus
                laboriosam cumque eum sequi expedita ea aut maxime itaque eligendi odio sit quod deserunt porro facere
                illo magnam! Asperiores beatae saepe tempora repellendus tenetur animi reiciendis, voluptatum excepturi
                quas perspiciatis dignissimos rem, vitae aut. Ipsa blanditiis animi dolore nostrum possimus optio at
                aut. Fuga maxime quibusdam dolor, asperiores explicabo velit voluptates voluptas nobis dolorum eius
                praesentium ea nostrum, recusandae eaque illo! Autem suscipit dolores est corrupti facere tenetur odio
                eos omnis ex voluptates? Iusto velit laborum sunt iste reprehenderit explicabo cupiditate qui vero
                dolore amet optio consequuntur sed, nihil accusamus cum maiores aliquid sequi saepe odit. Explicabo
                debitis assumenda magni!</span>
            <span>Voluptatibus praesentium, repudiandae numquam sunt obcaecati omnis tempora blanditiis assumenda vero
                laborum corporis dolorem quos facere reprehenderit, vel aspernatur totam ut. Voluptas asperiores ut
                eligendi animi sapiente esse ipsam laborum assumenda id, distinctio voluptatum minima corrupti
                perspiciatis. Sequi omnis quia ratione nisi vero, doloremque pariatur laudantium inventore ab sed
                consequuntur dolorem officia facere labore blanditiis quis at corrupti rerum voluptas similique itaque
                voluptatum eos perspiciatis distinctio? Itaque eius doloremque veritatis dolore cum, consequatur,
                ratione nihil ab sunt, quod incidunt. Ipsam, placeat dicta porro eaque animi iusto! Maxime, in commodi
                neque ex perspiciatis architecto fugiat. Accusamus error porro quisquam earum nisi ex tempore
                voluptatum, incidunt natus. Pariatur laborum, deleniti ut, molestias magni unde numquam ipsum,
                accusantium eius cupiditate fuga quod nostrum. Obcaecati quaerat, fugit expedita veniam eius ex
                cupiditate unde doloribus accusamus distinctio labore nobis, deserunt delectus esse possimus pariatur
                totam nihil eos, quas molestiae minus dignissimos. Dolore, aut velit. Provident rem delectus amet
                consequatur. Quasi enim aut voluptatem quas explicabo recusandae nisi ab exercitationem sit, fuga sed
                eos. Dolorem, asperiores distinctio temporibus non quos obcaecati dolores voluptates officia tempore
                sit, dignissimos quisquam aliquam ex qui reprehenderit corporis et nam quod saepe veniam delectus
                minus? Iste aperiam assumenda illum asperiores officiis laborum iure dignissimos? Ratione similique
                odit maiores quasi vitae sint atque sed ea adipisci totam, tenetur ipsam, voluptatibus, nobis qui minus
                at nisi excepturi quaerat architecto ex recusandae fugit. Fuga omnis eos unde repudiandae? Similique
                quaerat assumenda numquam a maiores vel, suscipit delectus voluptatibus ipsum iusto, molestias quidem
                quis culpa minus vero neque id repudiandae sit quibusdam quas explicabo porro quia consectetur.
                Provident odio omnis sequi architecto nihil reiciendis repudiandae laudantium eius explicabo, nostrum
                in nisi hic veniam praesentium accusamus quis excepturi! Itaque, voluptate. Eveniet ratione repellat ad
                illum recusandae vitae labore aut. Ex doloribus consequuntur laborum perferendis veritatis tempora. Ad
                veniam, recusandae ratione quod maiores neque libero possimus repudiandae odit dignissimos odio harum
                ipsam saepe deserunt, officiis ea est ducimus. Rem nostrum vel quam officia dicta omnis possimus
                sapiente placeat, neque repudiandae quo ut autem aut, esse praesentium soluta impedit blanditiis
                nesciunt quas. Veniam nobis, beatae alias corporis porro ipsa odit libero harum itaque dignissimos
                minima magnam repudiandae cumque non facere autem eligendi! Voluptas, repudiandae maxime? Doloremque
                harum, iure rerum aspernatur mollitia esse inventore sunt ad neque ipsum labore perferendis veritatis
                repudiandae a laboriosam, asperiores itaque. Esse, neque magnam alias consequatur temporibus qui porro
                a laboriosam, enim nisi sapiente laborum ab obcaecati necessitatibus quas quia velit culpa mollitia
                amet impedit. Vel corporis consectetur est veritatis ea, qui enim nam voluptate similique aperiam
                adipisci tempora ex libero quam iure exercitationem obcaecati corrupti tenetur voluptates, eaque facere
                eveniet aspernatur culpa? Quam nisi voluptatibus dolore soluta quae esse obcaecati non dicta veritatis.</span>
            <span>Esse ipsa saepe illo, omnis quisquam accusamus quo dolorem quibusdam sed, inventore harum id sint
                impedit qui eligendi exercitationem aut a cum est repellendus quae debitis? Quibusdam ut in assumenda
                veritatis ullam voluptates dicta quae suscipit fuga accusantium voluptas ipsa, dolore consequuntur iure
                quidem quia! Fugit officiis voluptas asperiores vitae dolorum, quam debitis similique consequuntur sint
                officia dolores amet perferendis laboriosam, magnam quis soluta modi recusandae quaerat nesciunt
                corporis earum dolorem suscipit? Nesciunt aperiam magnam, fuga, iste, mollitia eaque a eos aut et iure
                rem perferendis modi! Non laboriosam placeat fugiat dolor dicta sapiente facilis ipsam dignissimos enim
                fugit ducimus, laborum magni modi esse hic! Vero, assumenda unde magni voluptas quidem dicta sit omnis
                eligendi labore eaque tempora voluptatem? Temporibus iste, ducimus odio dolores voluptatem aliquid,
                laborum accusantium praesentium doloribus natus asperiores doloremque quisquam at deleniti eaque dicta
                sunt cum, ullam eum expedita cupiditate minima? Laudantium eveniet assumenda, ex numquam voluptatum
                sit, rem error nostrum quidem unde ipsam necessitatibus aspernatur delectus! Rem dignissimos unde
                exercitationem fugiat est doloremque blanditiis in velit nam esse vitae, natus magnam ipsa perspiciatis
                quos obcaecati et quidem enim, error fuga neque. Quos a natus corrupti minus vero voluptatum aliquid,
                voluptatem tenetur provident quo facere, eius molestias, tempore debitis iste quia voluptas. Quas
                cumque quae assumenda accusamus ex quibusdam. Hic consequatur, dolore tempora neque maiores fugit
                doloremque quasi ea iusto obcaecati non vel, totam repudiandae, aliquam voluptatem vitae distinctio
                suscipit voluptas velit possimus provident dicta laboriosam minima mollitia? Saepe in quas aliquid
                veritatis nam iure animi porro. Fuga dolorum eveniet ab, deleniti error vitae provident aspernatur
                tempore nobis esse cumque est alias nemo! Assumenda in pariatur facere ab illo eius eos odio corrupti
                dolorum officia. Eligendi velit voluptatibus placeat ab dolore, sit suscipit dignissimos, debitis
                possimus exercitationem, nam reprehenderit. Assumenda, inventore! Dolores, perspiciatis. Culpa,
                pariatur totam facilis fugit earum laborum cupiditate labore sequi enim quaerat, temporibus eveniet
                accusantium blanditiis nam sit animi! Amet delectus assumenda dolor vel, eveniet repellendus facilis
                optio cupiditate recusandae culpa libero officiis, explicabo ducimus. Adipisci perspiciatis accusantium
                nihil culpa sint beatae esse dignissimos dolorem eum! Consequatur voluptate enim cupiditate magni?
                Libero minima quis perferendis reiciendis quae et adipisci doloremque aperiam. Quae soluta facilis, non
                in rem culpa maxime ipsum corporis quasi eum hic reiciendis cum doloremque numquam suscipit optio
                dolore inventore tempora sint alias harum! Ipsa quia possimus necessitatibus odit? Facere cupiditate
                est velit commodi dicta aperiam blanditiis, cumque hic et, veritatis maxime quos asperiores numquam
                autem labore molestiae similique. Quo repellendus hic voluptas harum accusamus. Deserunt error ab
                aspernatur facilis illum laboriosam doloribus sequi labore animi quas corporis eveniet natus esse enim
                corrupti, aliquid numquam perferendis vitae libero voluptatibus? Reiciendis perspiciatis quas iusto
                illum quasi similique dolorem quos sit veniam sint!</span>
            <span>Error iste rem tenetur assumenda optio sunt qui voluptatem excepturi nihil. Eaque, hic odit! Laborum,
                a explicabo autem rem officiis minus voluptatem iure voluptatibus, tenetur ea veritatis! Veniam fugiat
                adipisci incidunt beatae impedit quos, sint, dolor ipsa atque soluta debitis accusamus veritatis porro
                minus amet aut odio voluptates officia. Perspiciatis cumque placeat culpa laboriosam. Sit numquam vel
                distinctio pariatur quo nulla esse cum, sapiente voluptatum non repudiandae facilis impedit cupiditate
                eveniet! Aut dolore possimus fugit sapiente voluptas qui nisi aliquam, consequuntur ab aperiam ullam
                maiores, iste voluptatem fugiat dignissimos at omnis animi voluptates deserunt recusandae eum officiis?
                Quos consequatur iste non laborum illum voluptas earum! Numquam obcaecati veritatis sint quas
                necessitatibus, quaerat iusto labore a id voluptates animi? Minima suscipit placeat reiciendis amet
                inventore veritatis laboriosam eos minus. Quasi nihil minima accusantium excepturi, cupiditate aut
                impedit veniam est eligendi vitae atque, ducimus similique quas eaque. Repellat iure maxime quibusdam
                minima fugit dolorem similique magni maiores saepe, sunt repellendus, quod nisi optio exercitationem
                consectetur, corrupti neque? Iste labore doloremque necessitatibus ea ipsa molestias eius vero suscipit
                facere qui excepturi officiis voluptas totam ad assumenda, culpa hic minus laborum officia libero
                ducimus architecto aliquid ullam. Minima quia minus illo incidunt sequi ipsum vitae neque ex sapiente
                maxime libero veritatis velit fuga, earum eligendi commodi eius quam non cumque modi! Repudiandae totam
                magni provident earum incidunt explicabo aut cumque esse et itaque blanditiis fugiat nesciunt,
                voluptatum nostrum illo sit dolores. Quos, ullam culpa? Earum inventore molestias beatae asperiores
                expedita consectetur aliquid reprehenderit. Sit, maiores voluptatem consequuntur tenetur dicta vel
                laboriosam aut corporis facilis? Recusandae iste aspernatur voluptatibus molestiae laborum vel ea aut
                tempora corporis dolorem facere, voluptatem soluta vero, nostrum accusantium amet esse, excepturi
                porro. Dicta ullam temporibus expedita architecto veniam ea totam, placeat impedit suscipit
                necessitatibus incidunt tempora corrupti rerum enim, illo sapiente at doloremque molestiae, minima
                aperiam recusandae ratione consectetur doloribus! Consequuntur, veritatis assumenda! Animi, blanditiis.
                Dignissimos accusantium fuga reiciendis repellat qui deleniti, quas iste rerum sit id minima maxime
                quae neque ullam quidem. Iure iusto minima libero dolorum nemo aspernatur explicabo, distinctio esse
                recusandae sunt nobis doloribus voluptates, sapiente voluptatem, optio repellendus neque perferendis
                cumque quasi suscipit ex atque sequi blanditiis. Similique accusantium illo impedit dignissimos officia
                doloribus itaque eos assumenda, non odio quibusdam vel officiis repellendus veritatis ipsum laboriosam
                aliquam inventore quo tenetur. Veniam modi obcaecati, molestias id a amet ad vitae dolorem optio ipsum
                cum quaerat hic maxime suscipit! Voluptatem, beatae? Doloribus modi harum vitae doloremque fuga?
                Accusantium, vitae expedita! Modi perferendis alias ex, accusantium enim exercitationem sint asperiores
                dolorem eos quisquam omnis odit numquam dolores eveniet error blanditiis? Autem, libero accusantium?
                Officiis fugiat illo error fugit in minima assumenda inventore dolores modi sunt voluptas, ab unde
                accusantium.</span>
            <span>Unde nihil consequatur, aperiam quod similique labore eius atque, at magni non veritatis autem
                sapiente dolores officia repudiandae eos accusamus, quidem eveniet! Laborum architecto consequuntur
                voluptatibus provident doloremque tempora necessitatibus delectus eligendi, nam hic, praesentium
                assumenda. Magni iure officiis quos fugiat possimus, minima repudiandae minus aperiam consequuntur
                impedit sit, atque autem? Cum omnis aspernatur itaque sunt rem culpa ad maiores libero, sint repellat
                neque aliquam molestiae odit dolor vel blanditiis quas, deserunt doloremque voluptatum quis ut. Ipsam
                incidunt vero ea iste harum saepe eos repudiandae reprehenderit officia delectus accusamus quaerat in
                quis non quisquam earum corporis numquam laborum obcaecati dolore voluptas, facilis dicta amet velit.
                Magnam atque quas minima cum expedita dolor repudiandae in reprehenderit dolorum voluptas sed incidunt,
                voluptatem nostrum commodi quibusdam debitis veniam ipsa dolores molestias. Saepe, minima?
                Exercitationem veritatis voluptates esse voluptatum corrupti delectus reiciendis nostrum consectetur
                quo! Quod magni maiores corporis officia temporibus aliquid voluptates, recusandae neque modi obcaecati
                voluptatibus voluptate nostrum non cupiditate ea earum placeat optio omnis et quae velit? Minus facilis
                deleniti et ipsam possimus aperiam eligendi, quibusdam aliquid odio voluptates laudantium maiores,
                similique commodi dolorum harum! Magnam, similique quam? Ipsam nisi asperiores tenetur dolore omnis id
                ipsa cum dicta distinctio architecto voluptatem, consequuntur, molestias nihil iure repellat esse.
                Maiores debitis deleniti et, numquam ratione modi. A consectetur magnam vel, iusto enim, voluptates
                veniam facilis vitae possimus, magni sit voluptatum suscipit. Eum adipisci reprehenderit eos
                exercitationem aliquid! Omnis illo ratione fugit! Vel tempora facere ducimus fuga dicta reprehenderit,
                beatae provident architecto quis quas et nostrum eaque saepe aperiam praesentium, quaerat alias
                possimus enim corporis error, nihil a! Ipsa animi nemo consequatur illo ex veritatis necessitatibus
                provident dolores deleniti quis nesciunt maiores blanditiis, maxime facere repellat sequi officia
                commodi dolore quas labore. Eligendi illum voluptate est ea nihil non tempore. Aliquam dicta totam
                recusandae sunt? Exercitationem laboriosam dolorum, ad quisquam nihil totam eius inventore vitae nemo
                facilis reiciendis eos praesentium accusantium optio vero iste in maxime dicta. Iste ipsum dolore nulla
                odit sint, officiis vitae doloremque ab consequatur explicabo odio facilis repudiandae est, ex
                consectetur quos ipsa dolorem iusto atque distinctio saepe cumque. Obcaecati enim sed excepturi,
                corporis voluptate placeat. Necessitatibus, neque aliquam aspernatur, sed quam suscipit quibusdam
                labore quia accusantium quidem odit veritatis. Quo harum voluptate similique aperiam ea hic pariatur
                porro consequatur consequuntur vitae illum alias non aut optio nihil animi repellendus fugit
                voluptatibus et aliquam cum, repellat, minima quaerat! Possimus provident quos officia nobis
                exercitationem explicabo vitae vel, dolor unde, minima ipsam quis, perferendis sunt ad laborum magni
                consectetur recusandae! Ab ducimus ad asperiores corrupti quae ipsam hic placeat nisi minus aperiam
                molestias, rem libero officiis eius! Hic expedita libero quasi, ipsa, excepturi maiores mollitia
                provident eaque fugit animi sapiente repellat !!!!!!!!!!!!!!! !!!?</span>
        </p>
    </article>
</div>
{% endblock %}